*,
*:before,
*:after{
  box-sizing: border-box;
}

*:before,
*:after,
{
  .clear-fix();
}

html{
  box-sizing: inherit;
}

// Mobile Columns
@media(max-width: @mobile-max-width){
  .col-sm-1{
    .column-width(@mobileCols, 1);  // 25
  }
  .col-sm-2{
    .column-width(@mobileCols, 2);  // 50
  }
  .col-sm-3{
    .column-width(@mobileCols, 3);  // 75
  }
  .col-sm-4{
    .column-width(@mobileCols, 4);  // 100
  }
}

// Table Columns
@media(min-width: @tablet-min-width){
  .col-md-1{
    .column-width(@tabletCols, 1);  // 12.5
  }
  .col-md-2{
    .column-width(@tabletCols, 2);  // 25
  }
  .col-md-3{
    .column-width(@tabletCols, 3);  // 37.5
  }
  .col-md-4{
    .column-width(@tabletCols, 4);  // 50
  }
  .col-md-5{
    .column-width(@tabletCols, 5);  // 62.5
  }
  .col-md-6{
    .column-width(@tabletCols, 6);  // 75
  }
  .col-md-7{
    .column-width(@tabletCols, 7);  // 87.5
  }
  .col-md-8{
    .column-width(@tabletCols, 8);  // 100
  }
}

// Desktop Columns
@media(min-width: @desktop-min-width){
  .col-lg-1 {
    .column-width(@desktopCols, 1);  // 8.33
  }
  .col-lg-2 {
    .column-width(@desktopCols, 2);  // 16.667
  }
  .col-lg-3 {
    .column-width(@desktopCols, 3)   // 25
  }
  .col-lg-4 {
    .column-width(@desktopCols, 4);  // 33.333
  }
  .col-lg-5{
    .column-width(@desktopCols, 5);  // 41.667
  }
  .col-lg-6 {
    .column-width(@desktopCols, 6);  // 50
  }
  .col-lg-7{
    .column-width(@desktopCols, 7);  // 58.333
  }
  .col-lg-8 {
    .column-width(@desktopCols, 8);  // 66.667
  }
  .col-lg-9 {
    .column-width(@desktopCols, 9);  // 75
  }
  .col-lg-10{
    .column-width(@desktopCols, 10);  // 83.333
  }
  .col-lg-11{
    .column-width(@desktopCols, 11);  // 91.667
  }
  .col-lg-12 {
    .column-width(@desktopCols, 12);  // 100
  }
}

.grid-row{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: @base-line-height;
  width: 100%;
}

.grid-wrapper{
  .horizontal-grid();
  margin: 0 auto;
  max-width: @desktop-grid-width;
}

.nav-wrapper{
  .horizontal-grid();
  margin: 0 auto;
}
