/*
  PROJECT: Flexil-grid
  URL: https://github.com/alzuniga/flexil-grid
  AUTHOR: Al Zuniga
  SITE: http://www.alzuniga.com
*/

// Grid System
@gutter-width: 1.5rem;
@half-gutter-width: 0.75rem;
@sm-min-width: 48rem;
@lg-min-width: 75rem;
@xs-grid-width: auto;
@sm-grid-width: 45rem;
@lg-grid-width: 72rem;
@thirdCols: 3;
@fourthCols: 4;
@sm-cols: 6;
@lg-cols: 12;

// Typography
@base-font-size: 1rem;      // 16px
@base-line-height: 1.5rem;  // 24px
// @base-font-family:;
// @base-heading-font-family:;
